.auth-form {
  max-width: 500px;
  margin: 0 auto;
  background: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }

  .form-inputs {
    margin-bottom: 20px;

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      color: #555;
    }

    input,
    select {
      border-radius: 6px;
      border: 1px solid #ccc;
      padding: 10px;
      width: 100%;
    }
  }

  .form-actions,
  .form-cancel {
    text-align: center;
    margin-top: 1rem;

    .action-button {
      font-size: 1rem;
      font-weight: bold;
      border-radius: 0.5rem; // Coins légèrement arrondis pour les boutons
      padding: 0.5rem 1.25rem;
      text-decoration: none;
      border: none; // Suppression des contours
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); // Légère ombre pour un effet esthétique
      transition: all 0.2s;

      &.btn-primary {
        background-color: #1899e0;
        color: #fff;

        &:hover {
          background-color: darken(#1899e0, 10%);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Ombre renforcée au hover
        }
      }

      &.btn-secondary {
        background-color: #F4F4F4;
        color: #333;

        &:hover {
          background-color: darken(#F4F4F4, 10%);
        }
      }
    }
  }
}

.profile-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .profile-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .profile-details {
    margin-top: 20px;

    p {
      font-size: 1rem;
      margin-bottom: 10px;

      strong {
        color: #333;
      }
    }
  }
}
