<div class="container my-5 super-lists-index">
  <h1 class="page-title text-gradient">Stay organized with categorized collections</h1>

  <div class="super-lists-container">
    <% @super_lists.each do |super_list| %>
      <% card_class = case super_list.title
         when 'Home' then 'home-card'
         when 'Everyday life' then 'everyday-life-card'
         when 'Administrative papers' then 'administrative-papers-card'
         else 'default-card'
         end %>

      <% super_list_path = case super_list.title
         when 'Home' then menu_home_path
         when 'Everyday life' then menu_everyday_life_path
         when 'Administrative papers' then menu_administrative_papers_path
         else menu_path
         end %>

      <%= link_to super_list_path, class: "super-list-card-link" do %>
        <div class="super-list-card <%= card_class %>">
          <div class="super-list-content">
            <h2 class="super-list-title"><%= super_list.title %></h2>
            <p class="super-list-description"><%= super_list.description %></p>
          </div>
          <div class="super-list-icon">
            <% if super_list.title == 'Home' %>
              <i class="fa fa-home"></i>
            <% elsif super_list.title == 'Everyday life' %>
              <i class="fa fa-calendar"></i>
            <% elsif super_list.title == 'Administrative papers' %>
              <i class="fa fa-file-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
