<h1>New Business Inquiry from <%= @contact_params[:company] %></h1>

<p><strong>Industry:</strong> <%= @contact_params[:industry] %></p>
<p><strong>Email:</strong> <%= @contact_params[:email] %></p>
<p><strong>Message:</strong></p>
<p><%= @contact_params[:message] %></p>

<hr>
<p>Sent via Keeply for Business</p>
