<% if filtered_lists&.any? %>
  <div class="form-group">
    <label class="form-label" style="font-weight: bold;">Add to lists</label>
    <div class="form-checkbox-group" data-category-target="listSelect">
      <% filtered_lists.each do |list| %>
        <div class="checkbox-item">
          <%= check_box_tag "item[list_ids][]", list.id, item_lists&.include?(list.id),
                id: "list_#{list.id}",
                class: "form-check-input",
                data: { action: "category#updateCategories" } %> <%# 🔥 `title` supprimé %>
          <%= label_tag "list_#{list.id}", list.title, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="form-note">No lists available for the selected family.</p>
<% end %>
