<div class="back-button">
  <%= link_to request.referer || root_path, class: "back-link" do %>
    <i class="back-arrow"></i>
    Back
  <% end %>
</div>

<div class="form-container" data-controller="category toggle-details">
  <h1 class="form-title">
    <span class="text-gradient angry-underline-blue" style="color: #3699e0; font-weight: bold;">
      Modify the item
    </span>
  </h1>
  <p class="form-description">Make changes to the item details below.</p>

  <%= render "items/form", item: @item %>
</div>
