// Section pour les items (Index ou Items dans une liste)
// Section pour les items (Index ou Items dans une liste)
.items-index, .list-items {
  text-align: center;

  .page-title, .list-items-title {
    font-size: 3rem; // 48px en rem
    font-weight: bold;
    color: black; // Harmonisé avec Propeez
    margin-bottom: 20px;
  }

  .page-description {
    font-size: 1.2rem;
    color: $text-secondary;
    margin-bottom: 20px;
  }

  .add-item-button {
    padding: 0.6rem 1.5rem; // Taille des boutons
    border-radius: 0.5rem; // Coins légèrement arrondis
    text-decoration: none; // Supprime le soulignement
    font-weight: 600; // Texte en semi-gras
    font-size: 1.25rem; // 20px en rem
    transition: all 0.2s ease-in-out;

    background-color: #1899e0; // Couleur de base du bouton
    color: #fff; // Couleur du texte
    box-shadow: 0 3px 6px rgba(24, 153, 224, 0.3); // Ombre légère
    border: none; // Pas de bordure

    &:hover {
      background-color: darken(#1899e0, 10%); // Assombrit la couleur au hover
      box-shadow: 0 6px 12px rgba(24, 153, 224, 0.4); // Ombre plus forte au hover
      transform: translateY(-1px); // Effet de remontée légère
    }
  }

  .list-items-description {
    font-size: 1.2rem; // Taille de la description
    color: $text-secondary; // Couleur harmonisée
    margin-bottom: 1rem; // Espace sous la description
    text-align: center; // Centrage du texte
  }

  .items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    justify-items: center;

    .item-card {
      background: #fff;
      width: 100%;
      max-width: 320px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: box-shadow 0.3s, transform 0.3s;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
      }

      .item-link {
        text-decoration: none; // Supprime le soulignement des liens
        color: inherit;

        &:hover {
          text-decoration: none; // Empêche le soulignement au hover
        }
      }

      .item-image {
        width: 100%;
        height: 160px;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .placeholder-image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background: $light-gray;
          color: $text-secondary;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .item-title {
        min-height: 3rem;
        margin-bottom: 15px;

        h3 {
          font-size: 1.25rem;
          font-weight: bold;
          color: $text-primary;
          line-height: 1.2;
          text-decoration: none; // Supprime le soulignement
        }
      }

      .item-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;

        .item-price,
        .item-category,
        .item-condition,
        .item-list {
          font-size: 1rem;
          color: $text-secondary;
          margin-bottom: 8px;

          strong {
            color: $text-primary;
            text-decoration: none; // Supprime le soulignement
          }
        }
      }

      .item-actions {
        margin-top: 15px;

        .remove-item-button {
          padding: 0.5rem 1.25rem; // Taille ajustée pour des proportions équilibrées
          border-radius: 0.5rem; // Coins légèrement arrondis
          text-decoration: none; // Supprime le soulignement
          font-weight: 600; // Texte semi-gras
          font-size: 1rem; // 16px en rem
          transition: all 0.2s ease-in-out;

          background-color: #F7B2A8; // Couleur de base
          color: #fff; // Texte blanc
          box-shadow: 0 3px 6px rgba(247, 178, 168, 0.3); // Ombre légère
          border: none; // Pas de bordure

          &:hover {
            background-color: darken(#F7B2A8, 10%); // Assombrissement au hover
            box-shadow: 0 6px 12px rgba(247, 178, 168, 0.4); // Ombre renforcée
            transform: translateY(-1px); // Légère remontée
            text-decoration: none; // Empêche le soulignement au hover
          }
        }
      }
    }
  }
}

// Section spécifique pour le show des listes
.list-show-container {
  .list-image {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .list-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 2rem;

    .list-center {
      flex: 1;
      max-width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      transform: translateX(22.5%);

      .list-title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: black;
      }

      .list-description {
        font-size: 1.2rem;
        color: $text-secondary;
        margin-bottom: 1.5rem;
      }

      .list-shared {
        h3 {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.2rem;
          color: $text-primary;
        }
      }
    }

    .list-actions-container {
      flex: 0 0 250px;
      margin-right: 4rem;
      text-align: right;

      .list-actions-top {
        display: flex;
        justify-content: space-evenly;
        gap: 0.5rem;

        .action-button {
          background-color: transparent;
          font-size: 1rem;
          padding: 0.5rem 1.25rem; // Taille ajustée pour des proportions équilibrées
          border-radius: 0.5rem; // Coins légèrement arrondis
          font-weight: 600; // Texte semi-gras
          transition: all 0.2s ease-in-out;
          border: none;
          min-width: 120px;
          text-decoration: none;

          &.btn-primary {
            background-color: #1899e0;
            color: #fff;
            box-shadow: 0 3px 6px rgba(254, 240, 246, 0.3); // Ombre légère

            &:hover {
              background-color: darken(#1899e0, 10%);
              box-shadow: 0 6px 12px rgba(254, 240, 246, 0.4); // Ombre renforcée
              transform: translateY(-1px); // Légère remontée
            }
          }

          &.btn-danger {
            background-color: #F7B2A8;
            color: #fff;
            box-shadow: 0 3px 6px rgba(254, 240, 246, 0.3); // Ombre légère

            &:hover {
              background-color: darken(#F7B2A8, 10%);
              box-shadow: 0 6px 12px rgba(254, 240, 246, 0.4); // Ombre renforcée
              transform: translateY(-1px); // Légère remontée
            }
          }
        }
      }

      .add-user-form {
        margin-top: 1.5rem;

        h3 {
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          text-align: left;
        }

        .email-input {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 0.5rem; // Coins légèrement arrondis
          padding: 0.5rem;
          font-size: 1rem;

          &:focus {
            border-color: #1899e0;
            outline: none;
            box-shadow: 0 0 5px rgba(24, 153, 224, 0.5);
          }
        }

        .invite-button {
          margin-top: 0.3rem;
          padding: 0.5rem 1.25rem; // Taille ajustée pour des proportions équilibrées
          border-radius: 0.5rem; // Coins légèrement arrondis
          text-decoration: none; // Supprime le soulignement
          font-weight: 600; // Texte semi-gras
          font-size: 1rem; // 16px en rem
          transition: all 0.2s ease-in-out;

          background-color: #c0e6fb; // Couleur du bouton Apply
          color: #333; // Texte noir
          box-shadow: 0 3px 6px rgba(254, 240, 246, 0.3); // Ombre légère
          border: none; // Pas de bordure


          &:hover {
            background-color: darken(#c0e6fb, 10%);
            box-shadow: 0 6px 12px rgba(254, 240, 246, 0.4); // Ombre renforcée
            transform: translateY(-1px); // Légère remontée
          }
        }
      }
    }
  }

  .list-items {
    margin-top: 2rem;

    .list-items-description {
      font-size: 1.2rem;
      color: $text-secondary;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
}


.filter-sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .filter-sort-box {
    background-color: #dddbdb; // Gris doux pour le fond de la boîte
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère pour donner de la profondeur
    width: 100%;
    max-width: 1000px;

    .filter-sort-header {
      font-size: 1.5rem; // 24px en rem pour un titre bien visible
      font-weight: bold;
      color: #F9A5A3; // Couleur de Filter and Sort
      margin-bottom: 10px;
      text-align: center;
    }

    .filter-sort-form {
      display: flex;
      flex-wrap: nowrap; // Empêche le retour à la ligne
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      .sort-options,
      .filter-options {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 180px;

        label {
          font-size: 1rem; // 16px
          font-weight: bold;
          color: $text-primary;
          margin-bottom: 5px;
        }

        .form-select {
          padding: 0.5rem;
          border-radius: 6px;
          border: 1px solid #ddd;
          font-size: 1rem; // 16px
          background: #fff;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.2s;

          &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }

      .filter-sort-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px; // Ajoute de l'espace entre les boutons
        margin-top: 30px;

        // Style pour Apply Button
        .apply-button {
          padding: 0.5rem 1.25rem; // Taille ajustée pour des proportions équilibrées
          border-radius: 0.5rem; // Coins légèrement arrondis
          text-decoration: none; // Supprime le soulignement
          font-weight: 600; // Texte semi-gras
          font-size: 1rem; // 16px en rem
          transition: all 0.2s ease-in-out;

          background-color: #f1c3d7; // Couleur du bouton Apply
          color: #333; // Texte noir
          box-shadow: 0 3px 6px rgba(254, 240, 246, 0.3); // Ombre légère
          border: none; // Pas de bordure

          &:hover {
            background-color: darken(#FEF0F6, 10%); // Éclaircissement au hover
            box-shadow: 0 6px 12px rgba(254, 240, 246, 0.4); // Ombre renforcée
            transform: translateY(-1px); // Légère remontée
          }
        }

        // Style pour Reset Button
        .btn-reset {
          padding: 0.5rem 1.25rem; // Taille ajustée pour des proportions équilibrées
          border-radius: 0.5rem; // Coins légèrement arrondis
          text-decoration: none; // Supprime le soulignement
          font-weight: 600; // Texte semi-gras
          font-size: 1rem; // 16px en rem
          transition: all 0.2s ease-in-out;

          background-color: #F4F4F4; // Gris clair
          color: #333; // Texte gris foncé
          box-shadow: 0 3px 6px rgba(224, 224, 224, 0.3); // Ombre légère
          border: none; // Pas de bordure

          &:hover {
            background-color: darken(#e0e0e0, 10%); // Assombrissement au hover
            box-shadow: 0 6px 12px rgba(224, 224, 224, 0.4); // Ombre renforcée
            transform: translateY(-1px); // Légère remontée
          }
        }
      }
    }
  }
}

.no-items-message {
  margin-top: 70px; // Augmente la distance entre le bouton et le message
  text-align: center;

  h3 {
    font-size: 2rem; // Taille légèrement augmentée
    color: $primary; // Couleur principale
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: $text-secondary; // Couleur secondaire pour le texte
    line-height: 1.6; // Améliore la lisibilité
    margin-bottom: 15px;
  }

  strong {
    color: $primary; // Met en valeur le texte important
  }
}

.list-divider {
  height: 2px; // Épaisseur de la ligne
  background-color: #605f5f; // Gris foncé
  margin: 1.5rem 0; // Espacement autour de la ligne
  width: 100%;
  border: none; // Pas de bordure supplémentaire
}
